.dokmen-icons {
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding-top: 20px;
}

.dokmen-icons-1 {
  text-align: center;
  background-color: whitesmoke;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dokmen-icons-2 {
  text-align: center;
  background-image: radial-gradient(#9da1f7 0.5px, transparent 0.5px),
    radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  padding: 10px 0;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.dokmen-icons-3 {
  text-align: center;
  background-color: whitesmoke;
  padding: 10px 0;
  height: 50vh;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fIcon {
  font-size: 64px;
}

.icons img {
  height: 64px !important;
}
.dokmen-icons-2 p{
  word-wrap: break-word;
  padding: 10px 5%;
}

@media screen and (max-width: 600px) {
  .icons img {
    height: 30px;
  }

  .icons h6 {
    font-size: 14px !important;
  }

  .icons p {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .dokmen-icons {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 20px;
  }

  .dokmen-icons.three {
    padding: 50px auto;
    display: flex;
    flex-direction: column;
  }

  .dokmen-icons-1 {
    margin: 10px 0;
    height: auto;
  }

  .dokmen-icons-2 {
    margin: 10px 0;
    height: auto;
  }
 
  .dokmen-icons-3 {
    margin: 10px 0;
    height: auto;
  }

 

  .fIcon {
    font-size: 40px;
  }

  .icons img {
    height: 40px !important;
  }

  .dokmen-icons-2 p {
    font-size: 14px;
    padding: 0 10px;
    
  }
}
